NODE_ENV=development
PORT=3000

DATABASE_URL="file:./dev.db"

JWT_SECRET="0adddf127c2a8578737675838dafbf9cb21ccb56f93a9b7af8096f1c0956dc99b6ed206da4eca7b0daf200dde54f66030580eedd10e64398510829b7711acb84"
JWT_EXPIRES_IN="7d"
JWT_ISSUER="finance-manager-api"
JWT_AUDIENCE="finance-manager-web"

FRONTEND_URL="http://localhost:5173"

ADMIN_NAME="Administrador"
ADMIN_EMAIL="admin@exemplo.com"
ADMIN_PASSWORD="adicione-uma-senha-segura"